# FIFA PROJECT GOAL. 

The objective of the FIFA 21 Project is to  predict a player's "Overall Rating" depending on the mutiple features.

### 1. IMPORT TOOLS.

In [1]:
import pandas as pd
import numpy as np

### 2. LOAD TOOLS.

In [2]:
fifa = pd.read_csv('copy_fifa21_train.csv')

### 3. EXPLORATION.

In [3]:
fifa.shape

(11701, 101)

In [4]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(fifa.dtypes)

ID                    int64
Name                 object
Age                   int64
Nationality          object
Club                 object
BP                   object
Position             object
Team & Contract      object
Height               object
Weight               object
foot                 object
Growth                int64
Joined               object
Loan Date End        object
Value                object
Wage                 object
Release Clause       object
Contract             object
Attacking             int64
Crossing              int64
Finishing             int64
Heading Accuracy      int64
Short Passing         int64
Volleys             float64
Skill                 int64
Dribbling             int64
Curve               float64
FK Accuracy           int64
Long Passing          int64
Ball Control          int64
Movement              int64
Acceleration          int64
Sprint Speed          int64
Agility             float64
Reactions             int64
Balance             float64
Power                 int64
Shot Power            int64
Jumping             float64
Stamina               int64
Strength              int64
Long Shots            int64
Mentality             int64
Aggression            int64
Interceptions       float64
Positioning         float64
Vision              float64
Penalties             int64
Composure           float64
Defending             int64
Marking               int64
Standing Tackle       int64
Sliding Tackle      float64
Goalkeeping           int64
GK Diving             int64
GK Handling           int64
GK Kicking            int64
GK Positioning        int64
GK Reflexes           int64
Total Stats           int64
Base Stats            int64
W/F                  object
SM                   object
A/W                  object
D/W                  object
IR                   object
PAC                   int64
SHO                   int64
PAS                   int64
DRI                   int64
DEF                   int64
PHY                   int64
Hits                 object
LS                   object
ST                   object
RS                   object
LW                   object
LF                   object
CF                   object
RF                   object
RW                   object
LAM                  object
CAM                  object
RAM                  object
LM                   object
LCM                  object
CM                   object
RCM                  object
RM                   object
LWB                  object
LDM                  object
CDM                  object
RDM                  object
RWB                  object
LB                   object
LCB                  object
CB                   object
RCB                  object
RB                   object
GK                   object
OVA                   int64
dtype: object

In [5]:
fifa.select_dtypes(include=np.number) #Displaying the numbers variables.

,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,...,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY,OVA
0,184383,26,1,258,54,47,43,70,44.0,286,...,6,1682,357,69,51,63,63,51,60,64
1,188044,30,0,365,66,79,76,68,76.0,375,...,16,1961,412,83,75,68,82,33,71,77
2,184431,33,0,336,73,76,34,78,75.0,424,...,3,1925,404,80,77,78,86,27,56,80
3,233796,22,13,242,44,42,58,62,36.0,259,...,12,1527,329,57,44,54,57,57,60,59
4,234799,23,8,249,49,37,61,68,34.0,280,...,15,1664,360,66,44,60,64,60,66,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,25,5,224,62,24,51,59,28.0,248,...,14,1589,347,75,28,56,59,60,69,65
11697,214680,27,4,84,12,14,13,29,16.0,96,...,72,1123,387,72,67,66,72,40,70,70
11698,221489,22,8,286,64,66,51,64,41.0,291,...,16,1603,337,76,60,60,72,26,43,67
11699,146717,26,7,254,64,66,51,73,NaN,284,...,24,1429,400,72,63,70,72,57,66,68
11700,236507,22,9,289,43,64,65,64,53.0,267,...,8,1607,336,79,62,56,67,24,48,64

### CLEANING

In [6]:
fifa.duplicated().sum() # checking the duplicates

0

In [7]:
fifa.select_dtypes(include=object) #Displaying the categorical variables.

,Name,Nationality,Club,BP,Position,Team & Contract,Height,Weight,foot,Joined,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,A. Pasche,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,Right,"Jul 1, 2015",...,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1
1,Alan Carvalho,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,Right,"Jan 16, 2015",...,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2
2,S. Giovinco,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,Right,"Jan 31, 2019",...,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2
3,J. Evans,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,Right,"Jul 1, 2016",...,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2
4,Y. Demoncy,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,Right,"Jul 1, 2018",...,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,B. Böðvarsson,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,Left,"Feb 8, 2018",...,60+2,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2
11697,G. Gallon,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,Right,"Jul 1, 2019",...,26+2,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2
11698,J. Flores,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,Right,"Jan 23, 2019",...,44+2,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2
11699,Anderson Silva,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,Right,NaN,...,68+0,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0
11700,T. Conechny,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,Left,"Jul 22, 2019",...,43+2,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2

In [8]:
fifa1 = fifa.drop(columns=['Wage', 'Growth', 'Value', 'ID', 'Name', 'Nationality', 'Club', 'Team & Contract', "Joined", "Loan Date End", "Release Clause", "Contract", "A/W", "D/W"], axis=1)
#Here id fifa1, because we dropped the columns and it is better to keep the previous database without modification.

In [9]:
cols1 = []
for column in fifa1.columns:
    cols1.append(column.lower()) #converting into lower case all coulmns titles.
cols1
fifa1.columns = cols1

fifa1.head()

fifa1

,age,bp,position,height,weight,foot,attacking,crossing,finishing,heading accuracy,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,CM CDM,"5'9""",161lbs,Right,258,54,47,43,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,30,ST,ST LW LM,"6'0""",159lbs,Right,365,66,79,76,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,33,CAM,CAM CF,"5'4""",134lbs,Right,336,73,76,34,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,22,CDM,CDM CM,"5'10""",152lbs,Right,242,44,42,58,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,23,CDM,CDM CM,"5'11""",150lbs,Right,249,49,37,61,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,LB,LB,"6'1""",168lbs,Left,224,62,24,51,...,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,27,GK,GK,"6'1""",174lbs,Right,84,12,14,13,...,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,22,RM,LM CAM RM,"5'6""",143lbs,Right,286,64,66,51,...,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,26,CM,NaN,"6'2""",179lbs,Right,254,64,66,51,...,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,22,CAM,ST CAM LM,"5'7""",143lbs,Left,289,43,64,65,...,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

In [10]:
fifa1['hits'] = fifa1['hits'].apply(pd.to_numeric, errors='coerce')  
# Converting to numeric values regardless an errors. errors='coerce'

In [11]:
fifa1['w/f'] = fifa1['w/f'].str.rstrip("★").astype(float)  #Removing the start
fifa1['sm'] = fifa1['sm'].str.rstrip("★").astype(float)
fifa1['ir'] = fifa1['ir'].str.rstrip("★").astype(float)
fifa1

,age,bp,position,height,weight,foot,attacking,crossing,finishing,heading accuracy,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,CM CDM,"5'9""",161lbs,Right,258,54,47,43,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,30,ST,ST LW LM,"6'0""",159lbs,Right,365,66,79,76,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,33,CAM,CAM CF,"5'4""",134lbs,Right,336,73,76,34,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,22,CDM,CDM CM,"5'10""",152lbs,Right,242,44,42,58,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,23,CDM,CDM CM,"5'11""",150lbs,Right,249,49,37,61,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,LB,LB,"6'1""",168lbs,Left,224,62,24,51,...,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,27,GK,GK,"6'1""",174lbs,Right,84,12,14,13,...,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,22,RM,LM CAM RM,"5'6""",143lbs,Right,286,64,66,51,...,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,26,CM,NaN,"6'2""",179lbs,Right,254,64,66,51,...,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,22,CAM,ST CAM LM,"5'7""",143lbs,Left,289,43,64,65,...,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

In [12]:
cols = ['ls','st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk']
for col in cols:
    fifa1[col] = fifa1[col].apply(lambda x:x.split("+")[0]) #Splitting the sum operation.

In [13]:
fifa1[cols] = fifa1[cols].apply(pd.to_numeric, errors='coerce') #??

In [14]:
fifa1['height'] = (fifa1['height'].str.extract(r'(\d+)\'\s*(\d+)"').astype(float).mul([12*2.54, 2.54]).sum(axis=1))
# Converting the height into a Kilos?

In [15]:
fifa1['weight'] = fifa1['weight'].str.rstrip("lbs").astype(float)/2.2
#Converting ibs to kg

In [16]:
fifa1 #Checking progress

,age,bp,position,height,weight,foot,attacking,crossing,finishing,heading accuracy,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,CM CDM,175.26,73.181818,Right,258,54,47,43,...,59,59,59,58,54,54,54,58,15,64
1,30,ST,ST LW LM,182.88,72.272727,Right,365,66,79,76,...,53,53,57,53,48,48,48,53,18,77
2,33,CAM,CAM CF,162.56,60.909091,Right,336,73,76,34,...,56,56,59,53,41,41,41,53,12,80
3,22,CDM,CDM CM,177.80,69.090909,Right,242,44,42,58,...,58,58,56,57,58,58,58,57,14,59
4,23,CDM,CDM CM,180.34,68.181818,Right,249,49,37,61,...,64,64,64,63,61,61,61,63,15,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,LB,LB,185.42,76.363636,Left,224,62,24,51,...,60,60,63,63,61,61,61,63,16,65
11697,27,GK,GK,185.42,79.090909,Right,84,12,14,13,...,26,26,25,24,26,26,26,24,69,70
11698,22,RM,LM CAM RM,167.64,65.000000,Right,286,64,66,51,...,44,44,49,45,35,35,35,45,17,67
11699,26,CM,NaN,187.96,81.363636,Right,254,64,66,51,...,68,68,66,64,60,60,60,64,25,68
11700,22,CAM,ST CAM LM,170.18,65.000000,Left,289,43,64,65,...,43,43,46,44,36,36,36,44,15,64

In [17]:
nulls_df = pd.DataFrame(round(fifa1.isna().sum()/len(fifa1),4)*100) #Shows the percentage of nulls
nulls_df
nulls_df = nulls_df.reset_index() #resetting its index and creating a new column named 'index' that contains the sequential numerical index values.
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls'] #replacing the existing column names of the nulls_df DataFrame with new names.

In [18]:
round(fifa1.isna().sum()/len(fifa1),4)*100 #Shows % of nulls in each.

age         0.00
bp          0.00
position    2.46
height      0.00
weight      0.00
            ...
cb          0.00
rcb         0.00
rb          0.00
gk          0.00
ova         0.00
Length: 87, dtype: float64

In [19]:
fifa1.isna().sum() #Hows the number of nulls in each.

age           0
bp            0
position    288
height        0
weight        0
           ...
cb            0
rcb           0
rb            0
gk            0
ova           0
Length: 87, dtype: int64

In [20]:
replace_NaN = nulls_df[nulls_df['percent_nulls']>1]['header_name']  #What's for? 
print(replace_NaN.values)

['position' 'composure']

In [21]:
fifa1

,age,bp,position,height,weight,foot,attacking,crossing,finishing,heading accuracy,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,CM CDM,175.26,73.181818,Right,258,54,47,43,...,59,59,59,58,54,54,54,58,15,64
1,30,ST,ST LW LM,182.88,72.272727,Right,365,66,79,76,...,53,53,57,53,48,48,48,53,18,77
2,33,CAM,CAM CF,162.56,60.909091,Right,336,73,76,34,...,56,56,59,53,41,41,41,53,12,80
3,22,CDM,CDM CM,177.80,69.090909,Right,242,44,42,58,...,58,58,56,57,58,58,58,57,14,59
4,23,CDM,CDM CM,180.34,68.181818,Right,249,49,37,61,...,64,64,64,63,61,61,61,63,15,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,LB,LB,185.42,76.363636,Left,224,62,24,51,...,60,60,63,63,61,61,61,63,16,65
11697,27,GK,GK,185.42,79.090909,Right,84,12,14,13,...,26,26,25,24,26,26,26,24,69,70
11698,22,RM,LM CAM RM,167.64,65.000000,Right,286,64,66,51,...,44,44,49,45,35,35,35,45,17,67
11699,26,CM,NaN,187.96,81.363636,Right,254,64,66,51,...,68,68,66,64,60,60,60,64,25,68
11700,22,CAM,ST CAM LM,170.18,65.000000,Left,289,43,64,65,...,43,43,46,44,36,36,36,44,15,64

In [22]:
columns_drop = nulls_df[nulls_df['percent_nulls']<1]['header_name']  #What's for?
print(columns_drop.values)

['age' 'bp' 'height' 'weight' 'foot' 'attacking' 'crossing' 'finishing'
 'heading accuracy' 'short passing' 'volleys' 'skill' 'dribbling' 'curve'
 'fk accuracy' 'long passing' 'ball control' 'movement' 'acceleration'
 'sprint speed' 'agility' 'reactions' 'balance' 'power' 'shot power'
 'jumping' 'stamina' 'strength' 'long shots' 'mentality' 'aggression'
 'interceptions' 'positioning' 'vision' 'penalties' 'defending' 'marking'
 'standing tackle' 'sliding tackle' 'goalkeeping' 'gk diving'
 'gk handling' 'gk kicking' 'gk positioning' 'gk reflexes' 'total stats'
 'base stats' 'w/f' 'sm' 'ir' 'pac' 'sho' 'pas' 'dri' 'def' 'phy' 'hits'
 'ls' 'st' 'rs' 'lw' 'lf' 'cf' 'rf' 'rw' 'lam' 'cam' 'ram' 'lm' 'lcm' 'cm'
 'rcm' 'rm' 'lwb' 'ldm' 'cdm' 'rdm' 'rwb' 'lb' 'lcb' 'cb' 'rcb' 'rb' 'gk'
 'ova']

In [23]:
fifa1['position'].value_counts(dropna=False) #Counting everything in that column including NaN

CB           1352
ST           1267
GK           1040
CDM CM        515
CM            449
             ...
RB CM CAM       1
CF RM RW        1
LB LWB RB       1
LB CM LW        1
RW LM CAM       1
Name: position, Length: 544, dtype: int64

In [24]:
fifa1['position']=fifa1['position'].fillna('CB') #We replace with 'CB'

In [25]:
median_composure = fifa1['composure'].median() # we fill the median
median_composure

61.0

In [26]:
median_composure = fifa1['composure'].median()
fifa1['composure'] = fifa1['composure'].fillna(median_composure)
#Why here

In [27]:
#Show nulls again after 
nulls_df = pd.DataFrame(round(fifa1.isna().sum()/len(fifa1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

   header_name  percent_nulls
0          age            0.0
1           bp            0.0
2     position            0.0
3       height            0.0
4       weight            0.0
..         ...            ...
82          cb            0.0
83         rcb            0.0
84          rb            0.0
85          gk            0.0
86         ova            0.0

[87 rows x 2 columns]

In [28]:
 fifa1.isna().sum().sum()

343

In [29]:
fifa1= fifa1.dropna()
fifa1

,age,bp,position,height,weight,foot,attacking,crossing,finishing,heading accuracy,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,CM CDM,175.26,73.181818,Right,258,54,47,43,...,59,59,59,58,54,54,54,58,15,64
1,30,ST,ST LW LM,182.88,72.272727,Right,365,66,79,76,...,53,53,57,53,48,48,48,53,18,77
2,33,CAM,CAM CF,162.56,60.909091,Right,336,73,76,34,...,56,56,59,53,41,41,41,53,12,80
3,22,CDM,CDM CM,177.80,69.090909,Right,242,44,42,58,...,58,58,56,57,58,58,58,57,14,59
4,23,CDM,CDM CM,180.34,68.181818,Right,249,49,37,61,...,64,64,64,63,61,61,61,63,15,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,29,ST,ST,170.18,70.000000,Right,290,36,72,65,...,45,45,46,44,43,43,43,44,19,65
11696,25,LB,LB,185.42,76.363636,Left,224,62,24,51,...,60,60,63,63,61,61,61,63,16,65
11697,27,GK,GK,185.42,79.090909,Right,84,12,14,13,...,26,26,25,24,26,26,26,24,69,70
11698,22,RM,LM CAM RM,167.64,65.000000,Right,286,64,66,51,...,44,44,49,45,35,35,35,45,17,67
11700,22,CAM,ST CAM LM,170.18,65.000000,Left,289,43,64,65,...,43,43,46,44,36,36,36,44,15,64

In [30]:
fifa1.isna().sum().sum()

0

### EXPLORING AFTER CLEANING.

In [31]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(nulls_df)

         header_name  percent_nulls
0                age           0.00
1                 bp           0.00
2           position           0.00
3             height           0.00
4             weight           0.00
5               foot           0.00
6          attacking           0.00
7           crossing           0.00
8          finishing           0.00
9   heading accuracy           0.00
10     short passing           0.00
11           volleys           0.35
12             skill           0.00
13         dribbling           0.00
14             curve           0.35
15       fk accuracy           0.00
16      long passing           0.00
17      ball control           0.00
18          movement           0.00
19      acceleration           0.00
20      sprint speed           0.00
21           agility           0.35
22         reactions           0.00
23           balance           0.35
24             power           0.00
25        shot power           0.00
26           jumping           0.35
27           stamina           0.00
28          strength           0.00
29        long shots           0.00
30         mentality           0.00
31        aggression           0.00
32     interceptions           0.06
33       positioning           0.06
34            vision           0.35
35         penalties           0.00
36         composure           0.00
37         defending           0.00
38           marking           0.00
39   standing tackle           0.00
40    sliding tackle           0.35
41       goalkeeping           0.00
42         gk diving           0.00
43       gk handling           0.00
44        gk kicking           0.00
45    gk positioning           0.00
46       gk reflexes           0.00
47       total stats           0.00
48        base stats           0.00
49               w/f           0.00
50                sm           0.00
51                ir           0.00
52               pac           0.00
53               sho           0.00
54               pas           0.00
55               dri           0.00
56               def           0.00
57               phy           0.00
58              hits           0.36
59                ls           0.00
60                st           0.00
61                rs           0.00
62                lw           0.00
63                lf           0.00
64                cf           0.00
65                rf           0.00
66                rw           0.00
67               lam           0.00
68               cam           0.00
69               ram           0.00
70                lm           0.00
71               lcm           0.00
72                cm           0.00
73               rcm           0.00
74                rm           0.00
75               lwb           0.00
76               ldm           0.00
77               cdm           0.00
78               rdm           0.00
79               rwb           0.00
80                lb           0.00
81               lcb           0.00
82                cb           0.00
83               rcb           0.00
84                rb           0.00
85                gk           0.00
86               ova           0.00

In [32]:
categorial_heads = fifa.select_dtypes(include=['object']).columns.tolist()
print(categorial_heads)

['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract', 'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']

In [33]:
numerical_heads = fifa.select_dtypes(include=['number']).columns.tolist()
print(numerical_heads)

['ID', 'Age', 'Growth', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'OVA']

#### Checking the correlations

In [34]:
numericals = fifa1.select_dtypes(include=np.number)

In [35]:
correlations_matrix = numericals.corr() # displaying the correlation matrix
correlations_matrix

,age,height,weight,attacking,crossing,finishing,heading accuracy,short passing,volleys,skill,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
age,1.000000,0.093952,0.255313,0.194200,0.160448,0.111876,0.175753,0.186809,0.193073,0.180511,...,0.229260,0.229260,0.160130,0.155667,0.212136,0.212136,0.212136,0.155667,0.151813,0.525696
height,0.093952,1.000000,0.767781,-0.352473,-0.491081,-0.357767,0.062637,-0.351652,-0.334660,-0.455733,...,-0.178800,-0.178800,-0.299224,-0.238577,-0.028275,-0.028275,-0.028275,-0.238577,0.349549,0.027164
weight,0.255313,0.767781,1.000000,-0.251638,-0.390701,-0.263679,0.097446,-0.261921,-0.231299,-0.352125,...,-0.112710,-0.112710,-0.230861,-0.181675,0.016876,0.016876,0.016876,-0.181675,0.329240,0.151700
attacking,0.194200,-0.352473,-0.251638,1.000000,0.843034,0.878834,0.707204,0.881375,0.898713,0.928967,...,0.646057,0.646057,0.716547,0.646258,0.490882,0.490882,0.490882,0.646258,-0.740837,0.430556
crossing,0.160448,-0.491081,-0.390701,0.843034,1.000000,0.646447,0.436897,0.800134,0.676596,0.884545,...,0.662225,0.662225,0.774447,0.702473,0.496853,0.496853,0.496853,0.702473,-0.631322,0.387173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cb,0.212136,-0.028275,0.016876,0.490882,0.496853,0.107379,0.697682,0.663765,0.194711,0.500863,...,0.959314,0.959314,0.909689,0.949990,1.000000,1.000000,1.000000,0.949990,-0.566184,0.373133
rcb,0.212136,-0.028275,0.016876,0.490882,0.496853,0.107379,0.697682,0.663765,0.194711,0.500863,...,0.959314,0.959314,0.909689,0.949990,1.000000,1.000000,1.000000,0.949990,-0.566184,0.373133
rb,0.155667,-0.238577,-0.181675,0.646258,0.702473,0.288749,0.660892,0.792130,0.357066,0.684169,...,0.980931,0.980931,0.991498,1.000000,0.949990,0.949990,0.949990,1.000000,-0.668489,0.402287
gk,0.151813,0.349549,0.329240,-0.740837,-0.631322,-0.562779,-0.700090,-0.694281,-0.554579,-0.687876,...,-0.622332,-0.622332,-0.693991,-0.668489,-0.566184,-0.566184,-0.566184,-0.668489,1.000000,0.098820
ova,0.525696,0.027164,0.151700,0.430556,0.387173,0.303319,0.301704,0.489568,0.360607,0.440393,...,0.458948,0.458948,0.429240,0.402287,0.373133,0.373133,0.373133,0.402287,0.098820,1.000000

### Creating a model

In [36]:
from sklearn.preprocessing import MinMaxScaler # imporing the subset

#### X-y split

In [37]:
y = fifa1['ova'] #defining X-y split
X = fifa1.drop(['ova'], axis=1)
X_num = X.select_dtypes(include = np.number)

#### Normalizing the numerical data using the MinMaxscaler

In [38]:
transformer = MinMaxScaler().fit(X_num) 
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
x_normalized1 = pd.DataFrame(x_normalized, columns=X_num.columns)
x_normalized1

(11618, 83)

,age,height,weight,attacking,crossing,finishing,heading accuracy,short passing,volleys,skill,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,0.370370,0.40,0.349206,0.546835,0.545455,0.478261,0.431818,0.710843,0.465116,0.569087,...,0.614286,0.614286,0.614286,0.642857,0.637681,0.527778,0.527778,0.527778,0.637681,0.075949
1,0.518519,0.55,0.333333,0.817722,0.681818,0.826087,0.806818,0.686747,0.837209,0.777518,...,0.528571,0.528571,0.528571,0.614286,0.565217,0.444444,0.444444,0.444444,0.565217,0.113924
2,0.629630,0.15,0.134921,0.744304,0.761364,0.793478,0.329545,0.807229,0.825581,0.892272,...,0.571429,0.571429,0.571429,0.642857,0.565217,0.347222,0.347222,0.347222,0.565217,0.037975
3,0.222222,0.45,0.277778,0.506329,0.431818,0.423913,0.602273,0.614458,0.372093,0.505855,...,0.600000,0.600000,0.600000,0.600000,0.623188,0.583333,0.583333,0.583333,0.623188,0.063291
4,0.259259,0.50,0.261905,0.524051,0.488636,0.369565,0.636364,0.686747,0.348837,0.555035,...,0.685714,0.685714,0.685714,0.714286,0.710145,0.625000,0.625000,0.625000,0.710145,0.075949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,0.481481,0.30,0.293651,0.627848,0.340909,0.750000,0.681818,0.554217,0.651163,0.562061,...,0.414286,0.414286,0.414286,0.457143,0.434783,0.375000,0.375000,0.375000,0.434783,0.126582
11614,0.333333,0.60,0.404762,0.460759,0.636364,0.228261,0.522727,0.578313,0.279070,0.480094,...,0.628571,0.628571,0.628571,0.700000,0.710145,0.625000,0.625000,0.625000,0.710145,0.088608
11615,0.407407,0.60,0.452381,0.106329,0.068182,0.119565,0.090909,0.216867,0.139535,0.124122,...,0.142857,0.142857,0.142857,0.157143,0.144928,0.138889,0.138889,0.138889,0.144928,0.759494
11616,0.222222,0.25,0.206349,0.617722,0.659091,0.684783,0.522727,0.638554,0.430233,0.580796,...,0.400000,0.400000,0.400000,0.500000,0.449275,0.263889,0.263889,0.263889,0.449275,0.101266
11617,0.222222,0.30,0.206349,0.625316,0.420455,0.663043,0.681818,0.638554,0.569767,0.524590,...,0.385714,0.385714,0.385714,0.457143,0.434783,0.277778,0.277778,0.277778,0.434783,0.075949

### Encoding Categorical Data.

In [39]:
from sklearn.preprocessing import OneHotEncoder
from sklearn import linear_model

In [40]:
X_cat = fifa1.select_dtypes(include=object)

In [41]:
X_cat

        bp   position   foot
0       CM     CM CDM  Right
1       ST   ST LW LM  Right
2      CAM     CAM CF  Right
3      CDM     CDM CM  Right
4      CDM     CDM CM  Right
...    ...        ...    ...
11695   ST         ST  Right
11696   LB         LB   Left
11697   GK         GK  Right
11698   RM  LM CAM RM  Right
11700  CAM  ST CAM LM   Left

[11618 rows x 3 columns]

In [42]:
encoder = OneHotEncoder(drop='first').fit(X_cat)

cols = encoder.get_feature_names_out(input_features=X_cat.columns)

X_cat_encode = pd.DataFrame(encoder.transform(X_cat).toarray(),columns=cols)

X_cat_encode.head()

,bp_CB,bp_CDM,bp_CF,bp_CM,bp_GK,bp_LB,bp_LM,bp_LW,bp_LWB,bp_RB,...,position_ST RM RW,position_ST RM RWB,position_ST RW,position_ST RW CAM,position_ST RW CAM RM,position_ST RW CF,position_ST RW LM,position_ST RW LW,position_ST RW RM,foot_Right
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
X_cat_encode.shape

(11618, 555)

In [44]:
X = pd.concat([X_cat_encode, x_normalized1], axis=1)
X

,bp_CB,bp_CDM,bp_CF,bp_CM,bp_GK,bp_LB,bp_LM,bp_LW,bp_LWB,bp_RB,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.614286,0.614286,0.614286,0.642857,0.637681,0.527778,0.527778,0.527778,0.637681,0.075949
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.528571,0.528571,0.528571,0.614286,0.565217,0.444444,0.444444,0.444444,0.565217,0.113924
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.571429,0.571429,0.571429,0.642857,0.565217,0.347222,0.347222,0.347222,0.565217,0.037975
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.600000,0.600000,0.600000,0.600000,0.623188,0.583333,0.583333,0.583333,0.623188,0.063291
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.685714,0.685714,0.685714,0.714286,0.710145,0.625000,0.625000,0.625000,0.710145,0.075949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.414286,0.414286,0.414286,0.457143,0.434783,0.375000,0.375000,0.375000,0.434783,0.126582
11614,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.628571,0.628571,0.628571,0.700000,0.710145,0.625000,0.625000,0.625000,0.710145,0.088608
11615,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.142857,0.142857,0.157143,0.144928,0.138889,0.138889,0.138889,0.144928,0.759494
11616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.400000,0.400000,0.400000,0.500000,0.449275,0.263889,0.263889,0.263889,0.449275,0.101266
11617,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.385714,0.385714,0.385714,0.457143,0.434783,0.277778,0.277778,0.277778,0.434783,0.075949

In [45]:
### Spliting the data into test and train samples

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [47]:
lm = linear_model.LinearRegression()

In [48]:
lm.fit(X_train,y_train)

LinearRegression()

### PROCESSING DATA.

In [49]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9294, 638)
(2324, 638)
(9294,)
(2324,)

In [50]:
from sklearn.metrics import r2_score

In [51]:
predictions = lm.predict(X_train)
predictions

array([66.96679688, 73.1524353 , 59.28242493, ..., 72.1259613 ,
       62.19177246, 75.30177307])

In [52]:
r2_score(y_train, predictions)

0.9318245506232277

### Model Validation

In [53]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

-2.185054915731421e+17

In [54]:
y_test[:5]

11183    57
9947     56
9025     56
10391    64
1344     70
Name: ova, dtype: int64

In [55]:
fifa1 = fifa1.drop('position', axis=1)

In [56]:
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [57]:
mse=mean_squared_error(y_test,predictions_test)
print('The mean squared error is ', mse)
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
print ('The root-mean-square error is', rmse)
mae = mean_absolute_error(y_test, predictions_test)
print ('The mean absolute error is', mae)

The mean squared error is  1.0140635106240963e+19
The root-mean-square error is 3184436387.532488
The mean absolute error is 168442698.30126837

In [58]:
y_test.mean()

66.93330464716007

In [59]:
predictions_test.mean()

-120276215.6130255

#### Working on the validation set.  Edit the original dataset with the same changes to validate the model.

In [60]:
fifa_valid = pd.read_csv('copy_fifa21_train.csv')
display(fifa_valid.head())
fifa_valid.shape

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

(11701, 101)

In [61]:
fifa_valid = fifa_valid.drop(['Value', 'Growth', 'Wage', 'ID', 'Name', 'Nationality', 'Club', 'Team & Contract', 'Joined', 'Loan Date End', 'Release Clause', 'Contract', 'A/W', 'D/W', 'Position'], axis=1)

In [62]:
cols2 = []
for column in fifa_valid.columns:
    cols2.append(column.lower())
cols2
fifa_valid.columns = cols2

fifa_valid.head()

,age,bp,height,weight,foot,attacking,crossing,finishing,heading accuracy,short passing,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,"5'9""",161lbs,Right,258,54,47,43,70,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,30,ST,"6'0""",159lbs,Right,365,66,79,76,68,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,33,CAM,"5'4""",134lbs,Right,336,73,76,34,78,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,22,CDM,"5'10""",152lbs,Right,242,44,42,58,62,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,23,CDM,"5'11""",150lbs,Right,249,49,37,61,68,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

In [63]:
fifa_valid['w/f'] = fifa_valid['w/f'].str.rstrip("★").astype(float)
fifa_valid['sm'] = fifa_valid['sm'].str.rstrip("★").astype(float)
fifa_valid['ir'] = fifa_valid['ir'].str.rstrip("★").astype(float)

In [64]:
fifa_valid['height'] = (fifa_valid['height'].str.extract(r'(\d+)\'\s*(\d+)"').astype(float).mul([12*2.54, 2.54]).sum(axis=1))

In [65]:
fifa_valid['weight'] = fifa_valid['weight'].str.rstrip("lbs").astype(float)/2.2

In [66]:
cols2 = ['ls','st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk']
for col in cols2:
    fifa_valid[col] = fifa_valid[col].apply(lambda x:x.split("+")[0])

In [67]:
fifa_valid[cols2] = fifa_valid[cols2].apply(pd.to_numeric, errors='coerce')

In [68]:
fifa_valid['hits'] = fifa_valid['hits'].apply(pd.to_numeric, errors='coerce')

In [69]:
fifa_valid

,age,bp,height,weight,foot,attacking,crossing,finishing,heading accuracy,short passing,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,ova
0,26,CM,175.26,73.181818,Right,258,54,47,43,70,...,59,59,59,58,54,54,54,58,15,64
1,30,ST,182.88,72.272727,Right,365,66,79,76,68,...,53,53,57,53,48,48,48,53,18,77
2,33,CAM,162.56,60.909091,Right,336,73,76,34,78,...,56,56,59,53,41,41,41,53,12,80
3,22,CDM,177.80,69.090909,Right,242,44,42,58,62,...,58,58,56,57,58,58,58,57,14,59
4,23,CDM,180.34,68.181818,Right,249,49,37,61,68,...,64,64,64,63,61,61,61,63,15,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,LB,185.42,76.363636,Left,224,62,24,51,59,...,60,60,63,63,61,61,61,63,16,65
11697,27,GK,185.42,79.090909,Right,84,12,14,13,29,...,26,26,25,24,26,26,26,24,69,70
11698,22,RM,167.64,65.000000,Right,286,64,66,51,64,...,44,44,49,45,35,35,35,45,17,67
11699,26,CM,187.96,81.363636,Right,254,64,66,51,73,...,68,68,66,64,60,60,60,64,25,68
11700,22,CAM,170.18,65.000000,Left,289,43,64,65,64,...,43,43,46,44,36,36,36,44,15,64

In [70]:
nulls_df = pd.DataFrame(round(fifa_valid.isna().sum()/len(fifa1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

   header_name  percent_nulls
0          age            0.0
1           bp            0.0
2       height            0.0
3       weight            0.0
4         foot            0.0
..         ...            ...
81          cb            0.0
82         rcb            0.0
83          rb            0.0
84          gk            0.0
85         ova            0.0

[86 rows x 2 columns]

In [71]:
fifa_valid['composure'].value_counts(dropna=False)

65.0    460
62.0    433
58.0    430
60.0    423
64.0    412
       ...
16.0      1
93.0      1
94.0      1
92.0      1
12.0      1
Name: composure, Length: 84, dtype: int64

In [72]:
median_composure = fifa_valid['composure'].median()
median_composure

61.0

In [73]:
fifa_valid['composure'] = fifa_valid['composure'].fillna(median_composure)

In [74]:
fifa_valid.isna().sum().sum()

343

In [75]:
fifa_valid= fifa_valid.dropna()

In [76]:
fifa_valid.isna().sum().sum()

0

In [77]:
y1 = fifa_valid['ova'] #defining X-y split
fifa_valid = fifa_valid.drop(['ova'], axis=1)

## Fitting the new data into the model

In [78]:
X_valid_num = fifa_valid.select_dtypes(include = np.number)
X_valid_cat = fifa_valid.select_dtypes(include = object)

In [79]:
#encoder = OneHotEncoder(drop='first').fit(X_valid_cat)

cols = encoder.get_feature_names_out(input_features=X_valid_cat.columns)

X_cat_encode1 = pd.DataFrame(encoder.transform(X_valid_cat).toarray(),columns=cols)

X_cat_encode1.head()

ValueError: input_features is not equal to feature_names_in_

In [ ]:
#transformer = MinMaxScaler().fit(X_valid_num) 
x_normalized2 = transformer.transform(X_valid_num)
print(x_normalized2.shape)
x_normalized3 = pd.DataFrame(x_normalized2, columns=X_valid_num.columns)
x_normalized3

### X_valid = pd.concat([X_cat_encode1, x_normalized3], axis=1)
X_valid

In [ ]:
results_X_valid = lm.predict(X_valid)
display (results_X_valid)
pd.concat([results_X_valid.Series(results_X_valid, name='estimate')],axis=1).head()

In [ ]:
mse=mean_squared_error(y1,results_X_valid)
print('The mean squared error is ', mse)
rmse = np.sqrt(mean_squared_error(y1,results_X_valid))
print ('The root-mean-square error is', rmse)
mae = mean_absolute_error(y1,results_X_valid)
print ('The mean absolute error is', mae)

In [ ]:
r2_score(y1, results_X_valid)